<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Djos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="frame d-flex justify-content-evenly mt-5">
        <div class="left">
            <h1>New Dojo</h1>
            <form action="/create_dojo" method="post">
                <div class="mb-3">
                    <label>Name: </label>
                    <input type="text" name="name">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>

        <div class="right">
            <h1>All Dojos</h1>
            <div class="border border-success">
                {% for dojo in all_dojos %}
                    <p><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></p>
                {% endfor %}
            </div>
            <div class="mt-3">
                <a href="/add_ninja">Add Ninja</a>
            </div>
            
        </div>

    </div>

</body>

</html>