<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <title>Register or Login</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
    <div class="frame mt-5">
        <h1>{{info.name}}</h1>
        <h3>Description:</h3>
        <p>{{info.description}}</p>
        <h3>Under 30 minutes?</h3>
        {% if info.under == 0 %}
            <p>No</p>
        {% else %}
            <p>Yes</p>
        {% endif %}
        <h3>Instructions:</h3>
        <p>{{info.Instruction}}</p>
        <a href="/dashboard">Back to Dashboard</a>
    </div>
</body>

</html>