<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ninja Money</title>
</head>

<body>
    <div>
        <p>Your gold: </p>
        <p>{{session["gold"]}}</p>
    </div>
    <form action="/process_money" method="post">
        <div>Farm</div>
        <div>(earns 10-20 golds)</div>
        <input type="hidden" name="building" value="farm" />
        <input type="submit" value="Find Gold!" />
    </form>

    <form action="/process_money" method="post">
        <div>Cave</div>
        <div>(earns 5-10 golds)</div>
        <input type="hidden" name="building" value="cave" />
        <input type="submit" value="Find Gold!" />
    </form>


    <form action="/process_money" method="post">
        <div>House</div>
        <div>(earns 2-5 golds)</div>
        <input type="hidden" name="building" value="house" />
        <input type="submit" value="Find Gold!" />
    </form>


    <form action="/process_money" method="post">
        <div>Casino</div>
        <div>(earns/takes 0-50 golds)</div>
        <input type="hidden" name="building" value="casino" />
        <input type="submit" value="Find Gold!" />
    </form>
    <ul>
        {% for message in session["messages"] %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>

    



</body>

</html>