<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <title>Burger Form</title>
</head>
<body>
    <form action="/update/{{burger['id']}}" method="post" class="p-3 col-4 mx-auto my-5 bg-dark text-light">
        <h2 class="text-center text-primary">Edit The {{burger['name']}}:</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        <div class="form-group">
            <label for="name">Burger Name:</label>
            <input type="text" name="name" id="name" class="form-control" value="{{burger['name']}}">
        </div>
        <div class="form-group">
            <label for="bun">Bun:</label>
            <input type="text" name="bun" id="bun" class="form-control" value="{{burger['bun']}}">
        </div>
        <div class="form-group">
            <label for="meat">Meat:</label>
            <input type="text" name="meat" id="meat" class="form-control" value="{{burger['meat']}}">
        </div>
        <div class="form-group">
            <label for="calories">Calories:</label>
            <input type="number" min="0" name="calories" id="calories" class="form-control" value="{{burger['calories']}}">
        </div>
        <div class="form-group">
            <label for="topping_one">Topping One:</label>
            <input type="text" name="topping_one" id="topping_one" class="form-control" value="{{burger['topping_one']}}">
        </div>
        <div class="form-group">
            <label for="topping_two">Topping Two:</label>
            <input type="text" name="topping_two" id="topping_two" class="form-control" value="{{burger['topping_two']}}">
        </div>
        <input type="submit" value="Update Burger" class="btn btn-primary btn-outline-dark">
    </form>
</body>
</html>