*{
    padding: 0;
    margin: 0;
    background-color: bisque;
}

h1{
    background-color: blue;
    margin: 0 auto;
    height: 50px;
    width: 300px;
}

.box1{
    height: 30px;
    width: 30px;
    background-color: green;
}

.box2{
    height: 30px;
    width: 30px;
    background-color: rgb(180, 209, 64);
}

#outer-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 260px;
    width: 260px;
    margin: 0 auto;
    border-collapse: collapse;
}