<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkboard</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div><h1 style="background-color: {{color1}}; color: {{color2}}">***Checkerboard***</h1></div>
    <div id="outer-box">
        {% for i in range(row) %}
        {% for j in range(col) %}
        {% if (i+j) % 2 == 0 %}
        <div class="box1" style="background-color: {{color1}};"></div>
        {% else %}
        <div class="box2" style="background-color: {{color2}};"></div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</body>
</html>